<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyperledjo.surveyther.DAO.PaymentsDAO">
	<insert id="postPayments"
		parameterType="com.hyperledjo.surveyther.DTO.Payments">
		INSERT INTO
		payment(memberId, paymentType, paymentDate,
		amount)
		VALUES(#{memberId},#{paymentType},now(),#{paidAmount})
	</insert>
</mapper>