<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyperledjo.surveyther.DAO.WalletDAO">
	<insert id="postWallet"
		parameterType="com.hyperledjo.surveyther.DTO.Wallet">
		INSERT INTO wallet(memberId, address, privateKey) VALUES
		(#{memberId},
		#{address}, #{privateKey})
	</insert>

	<select id="getWallet" parameterType="Integer"
		resultType="com.hyperledjo.surveyther.DTO.Wallet">
		SELECT * FROM wallet WHERE memberId=#{id}
	</select>
</mapper>