<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyperledjo.surveyther.DAO.MemberDAO">

	<update id="putMember"
		parameterType="com.hyperledjo.surveyther.DTO.Member">
		UPDATE member SET name=#{name}, birthYear=#{birthYear},
		phone1=#{phone1}, phone2=#{phone2}, phone3=#{phone3},
		residence=#{residence}, job=#{job}, married=#{married},
		academic=#{academic}, income=#{income}, confirm=#{confirm}
		WHERE id=#{id}
	</update>

	<insert id="postMember"
		parameterType="com.hyperledjo.surveyther.DTO.Member">
		INSERT INTO member(id, email, birthDay, gender,
		regDate)
		VALUES(#{id}, #{email}, #{birthDay}, #{gender},
		now())
	</insert>

	<select id="getMember"
		resultType="com.hyperledjo.surveyther.DTO.Member"
		parameterType="String">
		SELECT * FROM member WHERE id=#{id}
	</select>

	<select id="getMemberList"
		resultType="com.hyperledjo.surveyther.DTO.Member">
		SELECT *
		FROM
		member
	</select>
</mapper>