<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyperledjo.surveyther.DAO.AnswerDAO">
	<insert id="postAnswer"
		parameterType="com.hyperledjo.surveyther.DTO.Answer">
		INSERT INTO answer(questionId, content) VALUES
		(#{questionId},
		#{content})
	</insert>

	<select id="getAnswersFromSurvey" parameterType="Integer"
		resultType="com.hyperledjo.surveyther.DTO.Answer">
		SELECT * FROM
		answer WHERE questionId=#{id}
	</select>

	<select id="getAnswerList"
		resultType="com.hyperledjo.surveyther.DTO.Answer">
		SELECT * FROM answer
	</select>
</mapper>