<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyperledjo.surveyther.DAO.ChoiceDAO">

	<insert id="postChoice"
		parameterType="com.hyperledjo.surveyther.DTO.Choice">
		INSERT INTO choice(questionId) VALUES (#{questionId})
		<selectKey keyProperty="no" resultType="Integer"
			order="AFTER">
			SELECT
			LAST_INSERT_ID() as no
		</selectKey>
	</insert>

	<select id="getChoicesFromSurvey" parameterType="Integer">
		SELECT * FROM
		choice WHERE questionId=#{id}
	</select>

	<select id="getChoiceList">
		SELECT * FROM choice
	</select>
</mapper>