<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 좋아요(Like) 서비스에 해당하는 기능을 위한 SQL 매퍼 -->
<mapper namespace="com.hyperledjo.surveyther.DAO.CommentDAO">

	<!-- 좋아요 서비스에 정의된 기능은 좋아요 조회, 집계, 표시, 제거 -->
	<!-- 각 기능에 필요한 메소드는 GET, GET, POST, DELETE -->

	<update id="putComment"
		parameterType="com.hyperledjo.surveyther.DTO.Comment">
		UPDATE comment SET
		content=#{content} WHERE no=#{no}
	</update>

	<delete id="deleteComment" parameterType="Integer">
		DELETE FROM comment
		WHERE no=#{id}
	</delete>

	<insert id="postComment"
		parameterType="com.hyperledjo.surveyther.DTO.Comment">
		INSERT INTO comment(memberId, surveyId, content,
		regDate, author) VALUES(#{memberId}, #{surveyId}, #{content}, now(), #{author})
	</insert>

	<select id="getCommentCount" parameterType="Integer"
		resultType="Integer">
		SELECT count(*) FROM
		comment WHERE surveyId=#{id}
	</select>

	<select id="getCommentListFromSurvey" parameterType="Integer"
		resultType="com.hyperledjo.surveyther.DTO.Comment">
		SELECT * FROM comment WHERE surveyId=#{id}
	</select>

	<select id="getComment"
		resultType="com.hyperledjo.surveyther.DTO.Comment"
		parameterType="Integer">
		SELECT * FROM comment WHERE no=#{id}
	</select>

	<select id="getCommentList"
		resultType="com.hyperledjo.surveyther.DTO.Comment">
		SELECT *
		FROM
		comment
	</select>
</mapper>