<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyperledjo.surveyther.DAO.ParticipantsDAO">
	<insert id="postParticipants"
		parameterType="com.hyperledjo.surveyther.DTO.Participants">
		INSERT INTO
		participants(memberId, surveyId, questionId,
		answerId, participation)
		VALUES(#{memberId},#{surveyId},#{questionId},#{answerId},now())
	</insert>

	<select id="checkParticipants"
		parameterType="com.hyperledjo.surveyther.DTO.Participants"
		resultType="Integer">
		SELECT count(*) FROM participants WHERE
		memberId=#{memberId} AND surveyId=#{surveyId}
	</select>

	<select id="getParticipantsAnswerIdsInfo"
		parameterType="Integer"
		resultType="com.hyperledjo.surveyther.DTO.Participants">
		SELECT distinct answerId FROM participants WHERE
		questionId=#{id}
	</select>

	<select id="getParticipantsQuestionIdsInfo"
		parameterType="Integer"
		resultType="com.hyperledjo.surveyther.DTO.Participants">
		SELECT distinct questionId FROM participants WHERE
		surveyId=#{id}
	</select>

	<select id="getParticipantsSurveyResponseInfo"
		parameterType="Integer"
		resultType="com.hyperledjo.surveyther.DTO.Participants">
		SELECT * FROM participants WHERE surveyId=#{id}
	</select>

	<select id="getParticipantsAnswersCount" parameterType="Integer"
		resultType="Integer">
		SELECT count(*) FROM participants WHERE answerId=#{id}
	</select>

	<select id="getParticipantsMembersCount" parameterType="Integer"
		resultType="Integer">
		SELECT count(distinct memberId) FROM participants WHERE
		surveyId=#{id}
	</select>

	<!-- <select id="getParticipantsList" parameterType="Integer" resultType="com.hyperledjo.surveyther.DTO.Participants"> 
		SELECT * FROM participants WHERE surveyId=#{id} </select> -->
</mapper>