<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyperledjo.surveyther.DAO.QuestionDAO">
	<insert id="postQuestion"
		parameterType="com.hyperledjo.surveyther.DTO.Question">
		INSERT INTO question(surveyId, content) VALUES (#{surveyId},
		#{content})
		<selectKey keyProperty="no" resultType="Integer"
			order="AFTER">
			SELECT
			LAST_INSERT_ID() as no
		</selectKey>
	</insert>

	<select id="getQuestionsFromSurvey" parameterType="Integer">
		SELECT * FROM
		question WHERE surveyId=#{id}
	</select>

	<select id="getQuestionList">
		SELECT * FROM question
	</select>
</mapper>