<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyperledjo.surveyther.DAO.SurveyDAO">

	<update id="closeSurvey" parameterType="Integer">
		UPDATE survey SET
		status=1 WHERE no=#{id}
	</update>

	<!-- 서베이를 DB에 등록한 후에 세션별로 가장 최근에 입력한 서베이의 PK를 찾습니다. 찾은 PK는 서비스에서 모델의 getter를 
		통해 가져올 수 있습니다. -->
	<insert id="postSurvey"
		parameterType="com.hyperledjo.surveyther.DTO.Survey">
		INSERT INTO survey(memberId, category, title, content,
		goalParticipants, regDate, deadline, paid, fee, status)
		VALUES(#{memberId},
		#{category}, #{title}, #{content}, #{goalParticipants}, now(),
		#{deadline}, #{paid}, #{fee}, 0)
		<selectKey keyProperty="no" resultType="Integer"
			order="AFTER">
			SELECT
			LAST_INSERT_ID() as no
		</selectKey>
	</insert>

	<select id="getClosedSurveyList"
		resultType="com.hyperledjo.surveyther.DTO.Survey">
		SELECT * FROM survey WHERE status=1
	</select>

	<select id="getOnGoingSurveyList"
		resultType="com.hyperledjo.surveyther.DTO.Survey">
		SELECT * FROM survey WHERE status=0
	</select>

	<select id="getMySurveyList"
		resultType="com.hyperledjo.surveyther.DTO.Survey"
		parameterType="Integer">
		SELECT * FROM survey WHERE memberId=#{id}
	</select>

	<select id="getSurvey"
		resultType="com.hyperledjo.surveyther.DTO.Survey"
		parameterType="Integer">
		SELECT * FROM survey WHERE no=#{id}
	</select>

	<select id="getSurveyList"
		resultType="com.hyperledjo.surveyther.DTO.Survey">
		SELECT *
		FROM
		survey
	</select>
</mapper>