<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyperledjo.surveyther.DAO.TagDAO">

	<delete id="deleteTag" parameterType="Integer">
		DELETE FROM TAG WHERE
		no=#{id}
	</delete>

	<update id="putTag"
		parameterType="com.hyperledjo.surveyther.DTO.Tag">
		UPDATE TAG SET content=#{content}
		WHERE
		no=#{no} AND
		surveyId=#{id}
	</update>

	<insert id="postTag"
		parameterType="com.hyperledjo.surveyther.DTO.Tag">
		INSERT INTO TAG(surveyId, content)
		VALUES(#{surveyId},
		#{content})
	</insert>

	<select id="getTagList" parameterType="Integer"
		resultType="com.hyperledjo.surveyther.DTO.Tag">
		SELECT *
		FROM
		TAG
		WHERE surveyId=#{id}
	</select>
</mapper>